*{
    margin: 0px;
}

body{
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sidebar{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    border-right: 4px black solid;
}

#form-open{
    width: 50px;
}
input{
    height: 30px;
    width: 220px;
}
textarea{
    height: 100px;
}
#form-pop-container{
    position: absolute;
    height: 400px;
    width: 600px;
    left: 30%;
    top: 20%;
    
    background-color: grey;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#form-header{
    display: grid;
    grid-template-columns: 550px 50px;
    text-align: center;
}
h2{
    margin: 10px;
    margin-left: 40px;  
    font-size: 30px;
}
label{
    font-size: 20px;
}
#form-close{
    height: 25px;
    width: 25px;
    padding: 0px;
    margin: 10px;
    margin-left: 20px;
    
}
button{
    background-color: rgb(21, 150, 107);
    border: none;
    border-radius: 8px;
    font-weight: 800;
}
#add-todo{
    margin-left: 280px;
    height: 50px;
    width: 50px;
}
#form-pop{
    display: grid;
    grid-template-columns: 300px 300px;
    
}
label{
    margin-top: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin: 20px;
}
#form-pop-container.open{
    visibility: visible;
    opacity: 1;
    z-index: 999;
    margin: 20px;
}
#form-pop-container{
    visibility: hidden;
}
#container{
    display: flex;
    flex-direction: row;

}
#todos-container{
    display: flex;
    flex-direction: row;
}
.todo{
    margin: 20px;
    padding: 20px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
.desc{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 400px;
    width: 600px;
    left: 50%;
    top: 40%;
    border: 2px solid black;
    font-size: 30px;
}